<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <H1>Hello thanh with EJS and Nodemon</H1>
    <div>
        <img src="/static/images/anh_01.jpg" class="imageIdentify" />
    </div>
</body>

</html>